<% content_for :title, @book.title %>
<article class="book">
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <p><%= image_tag @book.image_cover_url %>
    <%= @book.abstract%></p>
  <h3>Details</h3>
  <p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Author:</label> <%= @book.author %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= @book.pages%></p>
  <p><label>Published On:</label> <%= @book.published_on%></p>
  <p><label>Available to Reserve:</label> <%= @book.total_in_library%></p>
</article>


<%= button_to 'Reserve', @book,
               method: :testing,
               data: { confirm: 'Are you sure?' } %>

<h1>Need to fix the reServe button<?h1>